body {
  color: white;
  background: black;
  margin: 30px;
  font-family: "Dela Gothic One", sans-serif;
  margin-bottom: 120px;
}

header {
  border-bottom: solid 2px white; 
  margin: 1px;
  font-size: 33px;
}

.texto {
  padding-bottom: 30px;
  padding-top: 30px;
 display: flex;
  justify-content: 55%;
  
}

.chamadatexto {
  margin: 7%;
}

h1 {
  font-size: 40px;
  padding-right: 25%;
  padding-left: 25%;
  text-align: center;
  margin-bottom: 5%;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  padding-right: 25%;
  padding-left: 38%;
 
}

h3 {
  font-size: 40px;
  font-weight: 400;
  padding-right: 25%;
  padding-left: 38%;
 padding-top: 5%;
 padding-bottom: 5%;
 border-top: solid 5px white;
}

h4 {
  font-size: 40px;
  font-weight: 400;
  padding-right: 25%;
  padding-left: 38%;
 
}

h5 {
  font-size: 40px;
  font-weight: 400;
  padding-right: 25%;
  padding-left: 38%;
 padding-top: 5%;
 padding-bottom: 5%;
 border-top: solid 5px white;
}

h6 {
  font-size: 40px;
  font-weight: 400;
 margin-left: 34%;
 
}
 

.OutrasdePedrosa {
  display: flex;
  overflow-y: auto;
  gap: 10px;
}

.Pedrosa {
  padding-left: 50px;
  padding-right: 50px;
}
.OutrasdePedrosa img {
  opacity: 0.5;
  height: 180px;
}

.OutrasdePedrosa img:hover {
  opacity: 1;
  border: 1px solid white;
}

.Outrasdesid {
  display: flex;
  overflow-y: auto;
  gap: 10px;
}

.Sid {
 
  padding-left: 50px;
  padding-right: 50px;
}
.Outrasdesid img {
  opacity: 0.5;
  height: 180px;
}

.Outrasdesid img:hover {
  opacity: 1;
  border: 1px solid white;
}

.Outrasdeinter {
  display: flex;
  overflow-y: auto;
  gap: 10px;
}

.inter {
 
  padding-left: 50px;
  padding-right: 50px;
}
.Outrasdeinter img {
  opacity: 0.5;
  height: 180px;
}

.Outrasdeinter img:hover {
  opacity: 1;
  border: 1px solid white;
}
